@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h1 class="display-4">Views in ASP.NET Core MVC</h1>
    <h2>Benefits of using views</h2>
    <p>Views help to establish separation of concerns within an MVC app by separating the user interface markup from other parts of the app. Following SoC design makes your app modular, which provides several benefits:</p>
<ul>
        <li class="list-group-item list-group-item-primary">The app is easier to maintain because it's better organized. Views are generally grouped by app feature. This makes it easier to find related views when working on a feature.</li>
        <li class="list-group-item list-group-item-warning">The parts of the app are loosely coupled. You can build and update the app's views separately from the business logic and data access components. You can modify the views of the app without necessarily having to update other parts of the app.</li>
        <li class="list-group-item list-group-item-info">It's easier to test the user interface parts of the app because the views are separate units.</li>
        <li class="list-group-item list-group-item-dark">Due to better organization, it's less likely that you'll accidentally repeat sections of the user interface.</li>
</ul>
    <p>Learn more about views <a href="https://learn.microsoft.com/en-us/aspnet/core/mvc/views/overview?view=aspnetcore-7.0#benefits-of-using-views">in asp.Net</a>.</p>
</div>
